.toggle {
    position: relative;
    width: 66px;
    height: 36px;
    overflow: hidden;
    border-radius: 10000px;
    border: 3px solid lightgray;
    display: inline-block;
    transition: .3;
}

  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layerSwitch {
    width: 100%;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
/* Button 3 */
#button-3 .knobs:before {
    content: "OFF";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 20px;
    height: 10px;
    color: var(--bg-color);
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 12px 7px;
    background-color: gray;
    border-radius: 10000px;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1);
}

#button-3 .checkbox:checked + .knobs:before {
    content: "ON";
    left: 31px;
    background-color: #379683;
}

/* Button 2 */
#button-2 .knobs:before {
    content: "Disabled";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 40px;
    height: 10px;
    color: var(--bg-color);
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 12px 11px;
    background-color: gray;
    border-radius: 10000px;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1);
}
    

#button-2 .checkbox:checked + .knobs:before {
    content: "Enable";
    left: 31px;
    background-color: #379683;
}

.toggle-2 {
    position: relative;
    width: 94px;
    height: 36px;
    overflow: hidden;
    background-color: none;
    border-radius: 10000px;
    border: 3px solid lightgray;
    float: right;
    transition: .3;
    background-color: var(--bg-color);
}

@media screen and (max-width: 700px) {
  #button-2 .knobs:before {
    padding: 12px 3px;
  }
  #button-2 .checkbox:checked + .knobs:before {
    left: 13px;
  }
  .toggle-2 {
    width: 64px;
  }
}

@media screen and (max-width: 700px) {
  #button-3 .checkbox:checked + .knobs:before {
    left: 15px;
  }
  .toggle {
    width: 50px;
  }
}

/*Color Scheme
Dark Blue - #05386B
Dark - #379683
Mid/BG - #5CDB95
Light - #8EE4AF
White - #EDF5E1
*/